:root {
  --first-neutral-color: #2b3945;
  --second-neutral-color: #202c37;
  --third-neutral-color: #111517;
  --fourth-neutral-color: #858585;
  --fifth-neutral-color: #fafafa;
  --sixth-neutral-color: #ffffff;
}

.country_page_container {
  width: 100%;
  height: auto;
  transition: 0.1s ease;
}

.inner_country_page_container {
  max-width: 1100px;
  margin: 0 auto;
  min-height: 95vh;
  padding-bottom: 3rem;
  background-color: transparent;
}

.top_container_country {
  display: flex;
  padding: 2rem 1rem 2rem;
}

.back_btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem 1.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
  cursor: pointer;
}

/* =============-----------------------================= */

.country_body_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  padding: 1rem;
}

.left_country_page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.left_country_page img {
  width: 90%;
  transition: 0.2s ease;
  background-color: transparent;
}

.left_country_page img:hover {
  transform: scale(1.05);
}

.right_country_page {
  padding: 2rem 0rem 1rem 2rem;
}

.right_country_page h2 {
  font-size: 2.2rem;
  margin-bottom: 1.2rem;
}

.inner_country_first_line {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.inner_country_first_line strong {
  font-size: 0.9rem;
  font-weight: 600;
}

.inner_country_first_line p {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.inner_country_second_line div {
  margin-top: 3.5rem;
  display: flex;
  flex-wrap: wrap;
}

.inner_country_second_line strong {
  font-size: 0.9rem;
  font-weight: 600;
  margin-right: 0.8rem;
}

.inner_country_second_line p {
  font-size: 0.8rem;
  margin-right: 0.4rem;
  background-color: var(--sixth-neutral-color);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  padding: 0.2rem 0.8rem;
  border-radius: 3px;
}

/* ------------------------------------------- RESPONSIVE  */

.loading_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
}

.loading_icon {
  display: flex;
  justify-items: center;
  align-items: center;
  -webkit-animation: spin 1.2s linear infinite; /* Safari */
  animation: spin 1.2s linear infinite;
  color: #219ebc;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ------------------------------------------- RESPONSIVE  */

@media (max-width: 850px) {
  .country_body_container {
    grid-template-columns: 1fr;
    margin-top: 1rem;
  }

  .left_country_page {
    justify-content: center;
  }

  .left_country_page img {
    width: 70%;
  }
}

@media (max-width: 450px) {
  .left_country_page img {
    width: 90%;
  }

  .right_country_page {
    padding: 2rem;
  }

  .right_country_page h2 {
    font-size: 1.5rem;
  }

  .inner_country_first_line {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .inner_country_second_line div {
    margin-top: 2rem;
  }
}
